@import url('./style.css');
:root {
  --c1: #5409DA;
  --c2: #4E71FF;
  --c3: #8DD8FF;
  --c4: #BBFBFF;
  --c5: #ebe3a2;
  --color-accent: #4E71FF;
  --color-muted: #b5b5b5;
}
.page-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
 
}

h1.page-title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 40px;
     
  

}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 120px;
    width: 100%;
    
}

.contact-details {
    flex: 1 1 400px;
    max-width: 400px;
    width: 100%;
}

.contact-info {
    color: var(--c3);
    margin-bottom: 25px;
}

.contact-info .title {
    font-size: 28px;
    font-weight: bold;
}

.contact-info .subtitle {
    font-size: 25px;
    color: #ffffff;
   
}

.contact-form {
    flex: 1 1 400px;
    max-width: 400px;
    width: 100%;
}

.contact-form input, 
.contact-form textarea {
    font-family: 'Share Tech', sans-serif;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 25px;
    resize: none;
    box-sizing: border-box;
}

    .contact-form button {
    font-family: 'Share Tech', sans-serif;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #456882;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
}

.contact-form button:hover {
    background-color: #365369;
}

.map-section {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.map-section iframe {
    width: 100%;
    height: 55vh;
    max-width: 1500px;
    border: 0;
    border-radius: 12px;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #1B3C53;
    color: white;
    padding: 20px 30px;
    font-size: 20px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
    z-index: 1000;
    font-family: 'Share Tech', sans-serif;
}

.popup.show { /* 2 classes, so "popup" is enabled only when "show" is included */
    opacity: 1;
    transform: translateY(0);
}