 /* <meta name="author" content="Danil Vassilets"> */
 
:root {
  --bg: #000;
  --text: #fff;
  --muted: #bbb;
  --accent: #00f6ff;
  --card: #111;
  --radius: 12px;
  --font: system-ui, sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font);
}

main {
  display: flex;
  flex-direction: column;
}

section {
  min-height: 100vh;
  padding: 0 40px;
  display: flex;
  flex-direction: column;        
  justify-content: center;       
  align-items: center;           
  border-bottom: 1px solid #1a1a1a;
}

.hero-inner {
  max-width: 1400px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.hero-text {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-sub_name {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.hero-sub {
  color: var(--muted);
}

.hero-name {
  color: var(--accent);
}



.hero-role {
    width: 1400px ;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 20px;
    display: inline-flex;
    gap: 13px;
    white-space: nowrap;
  align-items: baseline;
}

.role-sub {
  color: var(--text);
}

.role-name {
  color: var(--accent);
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.role-name::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;
  background: white;
  margin-left: 4px;
  animation: cursorBlink 0.7s steps(2, start) infinite;
}

@keyframes cursorBlink {
  50% { opacity: 1; }
  100% { opacity: 0; }
}




.fullstack {
  color: #ff0000;
}


.hero-desc {
  font-size: 1.4rem;
  line-height: 2;
 
  color: var(--muted);
}

 
.socials {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.socials a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.1rem;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-frame {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid var(--accent);
  background: radial-gradient(circle at top, #111 0%, #000 100%);
}

.avatar-frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}







 .about-title {
  text-align: center;
  font-size: 3rem;
  margin: 50px 0 -150px; 
  color: var(--accent);
  width: 100%;
  max-width: 1400px;  
      
  box-sizing: border-box;
}

.about-inner {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: flex;
  gap: 100px;
  align-items: center;
  padding: 100px 0;
}

.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image img {
  width: 360px;
  height: 360px;
  border-radius: var(--radius);
  object-fit: cover;
}

.about-text {
  max-width: 100%;
}

li {
  margin-bottom: 10px;
}



.about-text h3 {
  font-size: 2rem;
  margin-bottom: 25px;
}

.about-text p {
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 25px;
  color: var(--muted);
}

 
 
.skills {
  max-width: 1400px;
  width: 100%;
  margin: auto;
  flex-direction: column;
  padding: 100px 0;
}

.skills h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 70px;
  color: var(--accent);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card {
  background: var(--card);
  padding: 50px;
  border-radius: var(--radius);
}

.icon {
  font-size: 2.4rem;
  margin-bottom: 25px;
}

.card h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.card p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--muted);
}

.card button {
  margin-top: 25px;
  padding: 12px 24px;
  border: none;
  background: var(--accent);
  color: #000;
  border-radius: var(--radius);
  cursor: pointer;
  font-size: 1.1rem;
}
 