@import url('./style.css');


:root {
  --c1: #5409DA;
  --c2: #4E71FF;
  --c3: #8DD8FF;
  --c4: #BBFBFF;
  --c5: #ebe3a2;

  --bg-main: #050509;
  --bg-soft: #111;

  --color-accent: #4E71FF;
  --color-muted: #b5b5b5;

}


body{
    font-size: 16px;
    line-height: 2;
}
.container {
    max-width: 1100px;
    margin: auto;
   
}

.page-title{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 15px;
}

.model-section {
    font-size: 25px;
    padding: 20px 100px;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: var(--c3);
}

.image-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.image-row img {
    width: 100%;
    max-width: 350px;
}

.specs-table {
    width: 100%;
    border-collapse: collapse;
    
}

.specs-table td {
    border: 2px solid var(--c2);
    padding: 12px;
}

.more-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.more-button {
    display: inline-block;
    padding: 10px 22px;
    font-size: 25px;
    background-color: var(--color-accent);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-align: center;
    max-width: 300px;
}

.more-button:hover {
    background-color: #7211c6;
    transform: translateY(-2px);
}
