 <!-- <meta name="author" content="Danil Vassilets"> -->
<header>
  <div class="left-btn">
    <a href="#" class="logo-btn" id="homeLink">ELC</a>
  </div>

  <div class="right-btn">
    <button class="menu-btn" id="menuToggle" aria-label="Open menu"></button>
  </div>
</header>

<!-- SIDE MENU -->
<div class="side-menu" id="sideMenu">
  <div class="menu-left">
    <div class="model-preview">
      <img id="modelImage" src="" alt="Preview" data-default="images/logo/preview.jpg" />
    </div>
  </div>


  <div class="menu-right">

    <div class="menu-tabs">
      <button class="menu-tab " data-target="menu-models">Models</button>
      <button class="menu-tab" data-target="menu-tech">Technology</button>
      <button class="menu-tab" data-target="menu-about">About</button>
      <a href="#" id="contactLink"> <button class="menu-tab" data-target="menu-contact">Contact</button></a>
    </div>

    <div class="menu-sections">

      <!-- MODELS -->
      <div class="menu-section active" id="menu-models">
        <div class="model-list">
          <button class="model-item "data-img="images/models/Model_V/model-image5.png" data-target="model-1" data-link="index.html#model-1">MODEL V</button>
          <button class="model-item" data-img="images/models/Model_K/model_k_exterior_f.jpg" data-target="model-2" data-link="index.html#model-2">MODEL K</button>
          <button class="model-item" data-img="images/models/Model_L/lnb.png" data-target="model-3" data-link="index.html#model-3">MODEL L</button>
          <button class="model-item" data-img="images/models/Model_Mz/model_MZ_exterior_front.png" data-target="model-4" data-link="index.html#model-4">MODEL MZ</button>



 
        </div>
      </div>

      <!-- TECHNOLOGY -->
      <div class="menu-section" id="menu-tech">
        <div class="model-list">
          <button class="model-item" data-img="images/technology/tech-fastcharge.png" data-target="tech-1" data-link="index.html#tech-1">Fast Charging</button>
          <button class="model-item" data-img="images/technology/tech-ai.jpg" data-target="tech-2" data-link="index.html#tech-2">AI Driving</button>
          <button class="model-item" data-img="images/technology/tech-some.png" data-target="tech-3" data-link="index.html#tech-3">Something</button>
          <button class="model-item" data-img="images/technology/tech-battery.png" data-target="tech-4" data-link="index.html#tech-4">Battery Systems</button>
        </div>
      </div>

      <!-- ABOUT (menu) -->
      <div class="menu-section" id="menu-about">
        <div class="model-list">
                     <button class="model-item" data-img="images/about_us/person5.png" data-link="index.html#about-us" data-highlight="about-person5">Vassilets Danil</button>
          <button class="model-item" data-img="images/about_us/person1.png" data-link="index.html#about-us" data-highlight="about-person1">Petros Papamoschos</button>
 
          <button class="model-item" data-img="images/about_us/person2.png" data-link="index.html#about-us" data-highlight="about-person2">Zdravko Urumov</button>
         <button class="model-item" data-img="images/about_us/person4.png" data-link="index.html#about-us" data-highlight="about-person4">Strahinja Trajković</button>
          <button class="model-item" data-img="images/about_us/person3.png" data-link="index.html#about-us" data-highlight="about-person3">Konstantinos Granis</button>
           
         
        </div>
      </div>

      <!-- CONTACT -->
      <div class="menu-section" id="menu-contact">
  
 
      </div>

    </div>
  </div>
</div>
